{% extends 'base.html.twig' %}

{% block title %}Edit UserInformation{% endblock %}

{% block body %}
    <h1>Edit UserInformation</h1>

    {{ include('user_information/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_information_index') }}">back to list</a>

    {{ include('user_information/_delete_form.html.twig') }}
{% endblock %}
