{% extends 'admin/base.html.twig' %}

{% block title %}New UserInformation{% endblock %}

{% block body %}
    <h1>Create new UserInformation</h1>

    {{ include('admin/user_information/_form.html.twig') }}

    <a href="{{ path('app_user_information_index') }}">back to list</a>
{% endblock %}
